.hamburguer-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.hamburguer-button span {
    display: block;
    width: 24px;
    height: 3px;
    background: black;
    border-radius: 4px;
}

.overlay-menu {
    position: fixed;
    inset: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    z-index: 100;
}

.overlay-menu.show {
    opacity: 1;
    pointer-events: auto;
}




.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 1000;
    background: white;
    border-radius: 50%;
    padding: 10px 14px;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.menu-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.menu-center a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.menu-bottom {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.divider {
    width: 100%;
    height: 2px;
    background: black;
}

.login-button {
    text-decoration: none;
    background: black;
    color: white;
    border: none;
    width: 50px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Show Mobile Hamburguer */
@media (max-width:890px) {
    .hamburguer-button {
        display: flex;
    }
}


/* Hide Mobile Hamburguer */
@media (min-width:890px) {
    .hamburguer-button {
        display: none;
    }
}