.arrow-top-container {
    margin-top: 20px;
    width: 90%;
}

.arrow-top-container a {
    color: black;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.arrow-top-container i {
    display: flex;
    align-items: center;
    justify-content: center;
}