.sidebar {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    max-height: 90%;
    height: 90%;
    background: #212326;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: width 0.35s ease;
    overflow: visible;
}

.sidebar.open {
    width: 220px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.toggle-btn {
    position: absolute;
    right: -18px;
    top: 75px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.35s ease;
}

.sidebar.closed .toggle-btn {
    transform: rotate(0deg);
}

.sidebar.open .toggle-btn {
    transform: rotate(180deg);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 100%;
    margin-top: 15px;
}

.sidebar a {
    text-decoration: none;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-left: 25px;
    cursor: pointer;
    transition: opacity 0.25s ease;
}

.item img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
}

.item:hover {
    opacity: 0.6;
}

.label {
    opacity: 1;
    white-space: nowrap;
    font-size: 14px;
    color: white;
    transition: opacity 0.25s ease;
}

.sidebar.closed .label {
    opacity: 0;
}

.logout-container {
    margin-top: auto;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.line {
    width: 60%;
    height: 2px;
    background: white;
    margin: 0 auto 25px auto;
}