.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.signup h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #252525;
}

.signup a {
    text-decoration: none;
    color: black;
}


.signup p {
    color: #AEAEAE;
}

.signup-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    max-width: 1276px;
    max-height: 722px;
    justify-content: flex-start;
}


.signup-top-container {
    margin-top: 20px;
    width: 90%;
}

.signup-top-container a {
    color: black;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.signup-top-container i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-inner-left {
    width: 100%;
    max-width: 667px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
}


.signup-banner {
    display: block;
    width: 609px;
    height: 722px;
    object-fit: cover;
    object-position: center;

}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    max-width: 360px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 316px;
    padding: 20px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    height: 34px;
    border: none;
    border-bottom: 2px solid #252525;
    outline: none;
    font-size: 16px;
}

.form-group i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}


.login-redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-submit-btn {
    margin-top: 35px;
    width: 100%;
    max-width: 248px;
    height: 48px;
    color: white;
    background-color: #252525;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

img,
figure {
    margin: 0;
    padding: 0;
}

@media (max-width:1300px) {

    section {
        height: 100dvh !important;
    }

    .signup-main-container {
        max-width: 90%;
        min-width: 337px;
        min-height: 500px;
        height: 100%;
    }

    .signup-inner-left {
        max-width: 100%;
    }

    .signup-banner {
        display: none !important;
    }
}