.pricing-section {
    width: 100%;
    /* background-color: red; */
    margin-top: 20px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-section h2 {
    font-family: 'Ibarra Real Nova' !important;
    font-size: 45px;
    font-weight: 100;
    max-width: 780px;
    text-align: center;
}

.pricing-option-container {
    display: flex;
    gap: 50px;
}

@media (max-width: 1300px) {
    .pricing-section {
        margin-top: 50px;
        width: 90%;
    }

    .pricing-option-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .pricing-section {
        margin-top: 30px;
        width: 80%;
        padding: 0 1rem;
    }

    .pricing-section h2 {
        font-size: 28px;
    }

    .pricing-section p {
        font-size: 14px;
    }

    .pricing-option-container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}