/* [project]/app/globals.css [app-client] (css) */
:root {
  --primary-color: #fff;
  --secondary-color: #252525;
  --secondary-color-darker: #1a1a1a;
}

* {
  font-family: Roboto, sans-serif;
}

body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

body {
  background-color: #fff;
  background-image: url("/assets/background.png");
  background-repeat: repeat;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

header {
  justify-content: center;
  width: 100%;
  display: flex;
}

.form-group {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 360px;
  margin-bottom: 15px;
  display: flex;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #252525;
  outline: none;
  width: 100%;
  height: 34px;
  padding: 5px;
  font-size: 16px;
}

.form-group i {
  justify-content: center;
  align-items: center;
  width: 30px;
  display: flex;
}

.form-checkbox {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  display: flex;
}

.form-submit-btn {
  color: #fff;
  background-color: #252525;
  border: none;
  border-radius: 10px;
  width: 100%;
  max-width: 248px;
  height: 48px;
  margin-top: 35px;
  font-size: 20px;
}

@media (max-width: 890px) {
  body {
    margin: 0;
    padding: 0;
  }

  header {
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
}

.error-message {
  color: #eb4949;
  font-weight: bold;
}

.success-message {
  color: green;
  font-weight: bold;
}

.fade-in-up {
  opacity: 0;
  animation: .8s ease-out forwards fadeInUp;
  transform: translateY(20px);
}

.fade-in-up-fast {
  opacity: 0;
  animation: .3s ease-out forwards fadeInUp;
  transform: translateY(20px);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* [project]/styles/Navbar.css [app-client] (css) */
.desktop-navbar {
  background-color: #fff;
  border: .5px solid #373737;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1099px;
  height: 28px;
  margin-top: 20px;
  padding: 1rem 2rem;
  display: flex;
  box-shadow: 0 4px 4px #0000004d;
}

.desktop-navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.desktop-navbar a {
  color: #000;
  margin: 0 15px;
  text-decoration: none;
}

.nav-login-button {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  transition: background-color .3s;
  color: #fff !important;
  width: 88px !important;
}

.nav-login-button:hover {
  background-color: var(--secondary-color-darker);
  border: 1px solid var(--secondary-color-darker);
}

@media (max-width: 890px) {
  .desktop-navbar {
    display: none;
  }
}

/* [project]/styles/Hamburguer.css [app-client] (css) */
.hamburguer-button {
  cursor: pointer;
  z-index: 100;
  background: #fff;
  border: none;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 48px;
  height: 48px;
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 0 2px 6px #0003;
}

.hamburguer-button span {
  background: #000;
  border-radius: 4px;
  width: 24px;
  height: 3px;
  display: block;
}

.overlay-menu {
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  background: #fff;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity .3s;
  display: flex;
  position: fixed;
  inset: 0;
}

.overlay-menu.show {
  opacity: 1;
  pointer-events: auto;
}

.close-button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 10px 14px;
  font-size: 20px;
  font-weight: 1000;
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: 0 2px 6px #0003;
}

.menu-center {
  text-align: center;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: flex;
}

.menu-center a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.menu-bottom {
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 30px;
  display: flex;
}

.divider {
  background: #000;
  width: 100%;
  height: 2px;
}

.login-button {
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #000;
  border: none;
  border-radius: 5px;
  width: 50px;
  padding: 10px 20px;
  text-decoration: none;
}

@media (max-width: 890px) {
  .hamburguer-button {
    display: flex;
  }
}

@media (min-width: 890px) {
  .hamburguer-button {
    display: none;
  }
}

/*# sourceMappingURL=_8cecd0e3._.css.map*/