@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #FFFFFF;

    --secondary-color: #252525;
    --secondary-color-darker: #1A1A1A;
}


* {
    font-family: 'Roboto', sans-serif;
}


body,
html {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: white;
    background-image: url("/assets/background.png");
    background-repeat: repeat;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}


.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    max-width: 360px;
}


.form-group input {
    width: 100%;
    padding: 5px;
    height: 34px;
    border: none;
    border-bottom: 2px solid #252525;
    outline: none;
    font-size: 16px;
}

.form-group i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.form-submit-btn {
    margin-top: 35px;
    width: 100%;
    max-width: 248px;
    height: 48px;
    color: white;
    background-color: #252525;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}



@media (max-width: 890px) {
    body {
        padding: 0;
        margin: 0;
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


/* Messages color coding */

.error-message {
    color: rgb(235, 73, 73);
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}




/* Animations */

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}


.fade-in-up-fast {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.3s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}