.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.signup h1 {
    font-size: 40px;
    margin-bottom: 2px;
    color: #252525;
}

.signup a {
    text-decoration: none;
    color: black;
}


.signup p {
    color: #AEAEAE;
}

.signup-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    max-width: 1276px;
    max-height: 722px;
    justify-content: flex-start;
}


.signup-inner-left {
    width: 100%;
    max-width: 667px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
}


.signup-banner {
    display: block;
    width: 609px;
    height: 722px;
    object-fit: cover;
    object-position: center;

}



.login-redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.signup-form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 316px;
    padding: 20px;
}

img,
figure {
    margin: 0;
    padding: 0;
}

@media (max-width:1300px) {

    .signup {
        height: 100dvh !important;
    }

    .signup-main-container {
        max-width: 90%;
        min-width: 337px;
        min-height: 500px;
        height: 100%;
    }

    .signup-inner-left {
        max-width: 100%;
    }

    .signup-banner {
        display: none !important;
    }
}