@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #FFFFFF;

    --secondary-color: #252525;
    --secondary-color-darker: #1A1A1A;
}


* {
    font-family: 'Roboto', sans-serif;
}


body,
html {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: white;
    background-image: url("/assets/background.png");
    background-repeat: repeat;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media (max-width: 890px) {
    body {
        padding: 0;
        margin: 0;
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}



.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}